@font-face {
    src: url('../fonts/OpenSans-Regular.ttf') format("truetype");
    font-family: "OpenSans";
    font-weight: 400;
    font-style: normal;
}

@font-face {
    src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
    font-family: "OpenSans";
    font-weight: 700;
    font-style: normal;
}

@font-face {
    src: url('../fonts/OpenSans-SemiBold.ttf') format("truetype");
    font-family: "OpenSans";
    font-weight: 600;
    font-style: normal;
}

@font-face {
    src: url('../fonts/OpenSans-Italic.ttf') format("truetype");
    font-family: "OpenSans";
    font-weight: 400;
    font-style: italic;
}

@font-face {
    src: url('../fonts//OpenSans-ExtraBold.ttf') format("truetype");
    font-family: "OpenSans";
    font-weight: 800;
    font-style: normal;
}

body {
    margin: 0;
    font-family: OpenSans, Helvetica,
    Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



html, body {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}



.color-wrap {
    background-color: #F6F2F2;
    padding-top: 29px;
}

.header {
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.8);
    min-height: 89px;
    max-width: 1249px;
    display:flex;
    align-items: stretch;
    justify-content: center;
}

.header > a {
    display: inline-block;
    text-decoration: none;
    color: #E0E0E0;
    padding: 42px 23px 30px 23px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
}

.header a:hover {
    background-color: #FF3F40;
}

.home-color {
    background-color: #F6F2F2;
}

.home-screen {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1249px;
    margin: 0 auto;
    padding: 103px 10px 105px 10px;
    position: relative;
    flex-wrap: wrap
}

h1{
    padding: 0;
    margin: 0 0 18px 0;
    font-size: 60px;
    font-weight: 800;
    letter-spacing: 2px;
    font-style: normal;
    top: -15px;
    line-height: 72px;
    text-transform: uppercase;
}

h1 >span {
    letter-spacing: 6px;
}

.home-text {
    position: relative;
    bottom: 15px;
    width: 550px;
}

.home-text > p {
    font-size: 16px;
    line-height: 28px;
    width: 530px;
    margin: 0 0 57px 0
}

.button {
    box-sizing: border-box;
    text-decoration: none;
    border-radius: 5px;
    transition-duration: 0.3s;
    display: inline-block;
}

.contact {
    color: #E0E0E0;
    background-color: #FF2D2D;
    padding: 15px 65px;
    font-weight: 700;
    font-size: 18px;

}

.home-img {
    right: 10px;
    box-shadow: 0 0 20px rgb(116, 110, 110);
}

.portfolio-screen {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1249px;
    margin: 0 auto;
    padding: 107px 10px 39px 10px;
    position: relative;
    border-bottom: 1px solid #ECECEC
}

.portfolio-text {
    max-width: 550px;
    margin-right: 50px;
    margin-bottom: 57px;
}

.portfolio-text > h2{
    font-size: 43px;
    line-height: 55px;
    margin: 0;
    margin-bottom: 20px;
    text-transform: uppercase;
    position:relative;
    bottom: 13px
}

.portfolio-text > p {
    margin: 0;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 57px;
}

.learn {
    color: #FF2D2D;
    border: 2px solid;
    padding: 13px 60px;
    font-size: 18px;
    font-weight: 700;

}

.portfolio-wrap {
    display: flex;
    flex-wrap: wrap;
    max-width: 605px;
    justify-content: space-between;
    align-content: space-between;
}

.portfolio-items {
    width: 285px;
    margin-bottom: 45px;
}

.portfolio-items > img {
    margin-bottom: 20px;
}

.portfolio-items > h3 {
    font-size: 24px;
    margin: 0 0 4px 0;
}

.portfolio-items > p {
    margin: 0;
    line-height: 28px;
}


.product-screen {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1249px;
    margin: 0 auto 87px auto;
    padding: 93px 10px 39px 10px;
    position: relative;
    flex-direction: column;
}

.product-text {
    width: 100%;
    text-align: center;
    padding-left: 35px;
    margin-bottom: 76px;
    box-sizing: border-box;
}

.product-text > h2 {
    font-size: 42px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin: 0 0 12px 0;
}

.product-text > p {
    max-width: 537px;
    margin: 0 auto 28px auto;
    line-height: 28px;
}

.product-hr {
    width: 134px;
    border: 1px solid #FF2D2D;
}

.product-filter {
    width: 100%;
    text-align: center;
    padding-left: 55px;
    margin-bottom: 57px;
    box-sizing: border-box;
}

.product-filter > a {
    text-decoration: none;
    font-size: 22px;
    margin: 0 28px 0 28px;
    font-weight: 600;
    position: relative;
    right: -6px;
    color: #000;
    text-transform:uppercase;
}

.product-filter > a:nth-child(n+2):hover {
    color: #FF2D2D;
}

.product-filter > a:first-child {
    color: #FF2D2D
}

.product-filter > a:first-child:hover {
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
}

.product-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    min-height: 600px;
}

.product-item {
    width: 298px;
    height: 290px;
    background-color: rgb(17, 152, 197)
}


.about-screen {
    max-width: 1249px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
    margin-bottom: 107px
}

.about-text {
    margin-bottom: 70px;
}

.about-text > h2 {
    font-size: 42px;
    font-weight: 700;
    margin: 0 0 18px 0;
    text-transform: uppercase;
}

.about-text > p {
    font-size: 16px;
    width: 478px;
    line-height: 27px;
    margin-bottom: 35px;
}

.about-hr {
    width: 134px;
    border: 1px solid #FF2D2D;
    margin: 0
}

.about-wrap {
    width: 100%;
    display: flex;
    min-height: 460px;
    justify-content: space-between;
}

.about-img {
    background-color: #ec9849;
    width: 324px;
    height: 460px;
}

.man-info {
    width: 68%;
}

.man-info > h3 {
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 17px;
}

.man-info > p {
    max-width: 663px;
    line-height: 28px;
    font-size: 16px;
}

.man-info > a {
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    font-style: italic;
    letter-spacing: 0.9px;
    color: #000;
    margin-top: 25px;
    margin-bottom: 35px;
    margin: 25px 25px 35px 0;
}

.man-info > a:hover {
    color:#FF2D2D
}

.worker {
    display: flex;
}

.worker {
    margin-top: 31px;
    justify-content: space-between;
}

.worker img {
    width: 90%;
    height: auto;
    margin: 5%;
}
.worker > div {
    width: 200px;
    height: 210px;
    background-color:#817657;
    position: relative;
}

.worker > div:hover .name {
    display: block;
    text-transform: uppercase;
}

.name {
    position: absolute;
    width: 100%;
    height: 37px;
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    text-align: center;
    display: none;
}

.name span {
    font-size: 18px;
    color: #fff;
    display:inline-block;
    margin-top: 5px;
}


.recommend-screen {
    width: 100%;
    min-height: 514px;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 92px;
    padding-bottom: 16px;
    box-sizing: border-box;
}

.recommend-screen > h2 {
    font-size: 42px;
    line-height: 40px;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

.recommend-screen > p {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 56px;
    margin-top: 0;
}

.recommend-form input {
    height: 82px;
    width: 524px;
    font-size: 16px;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 20px;
    padding-left: 30px;
    font-family: OpenSans, Helvetica, Arial, sans-serif;
}

.recommend-form button {
    text-decoration: none;
    box-sizing: border-box;
    color: #fff;
    height: 82px;
    background-color: #FF2D2D;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    margin-left: 15px;
    padding: 26px 60px 30px 62px;
    border: none;
    vertical-align: top;
    cursor: pointer;
    text-transform: uppercase;
}


.contact-screen {
    max-width: 1249px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 75px;
    padding: 0 10px
}

.contact-screen > h2 {
    text-transform: uppercase;
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 31px;
}

.contact-screen > p {
    width: 750px;
    line-height: 28px;
    font-size: 16px;
    margin: 0 0 53px 0;
}

.contact-screen > hr {
    margin: 0;
}

.contact-wrap {
    width: 100%;
    position: relative;
    margin-bottom: 110px;
}

.contact-text {
    max-width: 1249px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    min-height: 481px;
    align-content: space-between;
    flex-wrap: wrap;
}

.contact-form {
    max-width: 734px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    min-height: 481px;
    box-sizing: border-box;
}

.contact-form > input:nth-of-type(-n+2) {
    width: 49%;
    height: 71px;
    padding-left: 30px;
    box-sizing: border-box;
    font-family: OpenSans, Helvetica, Arial, sans-serif;
}

.contact-form > input:last-of-type {
    width: 100%;
    height: 252px;
    box-sizing: border-box;
    padding: 35px 30px 200px;
    font-family: OpenSans, Helvetica, Arial, sans-serif;
}

.contact-form > input {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    border-style: none;
    font-size: 20px;
}

.contact-button {
    width: 100%;
    box-sizing: border-box;
    background-color: #FF2D2D;
    color:#E0E0E0;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    height: 72px;
    align-self: end;
    border: none;
    cursor: pointer;
}

.contacts {
    background-color: #313030;
    color: #fff ;
    width: 410px;
    padding: 122px 40px 121px 80px;
    box-sizing: border-box;
}

.contacts > h3 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 24px;
    letter-spacing: 1px;
}

.contacts > p {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 20px;
}

.contact-decor {
    position: absolute;
    right: 0;
    height: 100%;
    z-index: -1;
    background-color: #313030;
    width: 30vw;
}

.footer {
    width: 100%;
    height: 113px;
    background-color: #313030;
}

.footer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    max-width: 1249px;
    margin: 0 auto;
    height: 100%;
    box-sizing: border-box;
}

.footer-wrap p {
    color:#B8B8B8;
    font-size: 16px;
}

.footer-wrap a {
    margin: 0 9px
}


@media screen and (max-width: 1269px) {
    .product-items {
        min-height: auto;
    }

    .product-item {
        width: 23vw;
        height: 22vw;
        margin-bottom: 1.5vw;
    }

    .about-img {
        width: 25vw;
        height: 35.5vw;
        align-self: end;
    }

    .about-wrap {
        min-height: auto;
    }

    .man-info > a {
        margin: 2vw 2vw 2vw 0
    }

    .man-info > p {
        margin: 1vw 0
    }

    .worker > div {
        width: 16vw;
        height: 17vw;
    }

    .worker {
        margin-top: 2vw;
    }
}

@media screen and (max-width: 1210px) and (min-width: 1000px) {
    .home-img {
        width: 41vw;
        height: auto;
        margin-top: auto;
        margin-bottom: auto;
    }

    .portfolio-wrap {
        justify-content: end;
    }

    .portfolio-items {
        width: 90%
    }

    .about-text {
        width: 478px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .about-text > hr {
        margin: auto;
    }

    .contacts {
        width: 100%
    }

    .contact-decor {
        display: none
    }

    .contact-form {
        margin-bottom: 70px
    }

    .contact-text {
        justify-content:center;
        padding: 0;
    }

    .contact-screen {
        width: 752px;
        text-align: center;
    }

    .contact-screen > hr {
        margin: auto;
    }
}

@media screen and (max-width: 999px) {
    .home-screen {
        text-align: center;
        justify-content: center;
    }

    .home-screen > a {
        display: block;
        width: 99%;
        height: auto;
        margin: 0 auto;
    }

    .home-text {
        margin-bottom: 50px;
    }

    .home-text > p {
        display: inline-block;
    }

    .home-img {
        width: 90%;
        height: auto;
    }

    .about-text {
        width: 478px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .about-text > hr {
        margin: auto;
    }

    .contact-screen {
        width: 90%;
        text-align: center;
    }

    .contact-screen > p {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .contact-screen > hr {
        margin: auto;
    }

    .contact-text {
        justify-content: center;
    }

    .contact-form {
        margin-bottom: 70px
    }

    .contacts {
        width: 100%
    }

    .contact-decor {
        display: none;
    }
}

@media screen and (max-width: 780px) {
    .portfolio-screen {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        padding-top: 50px;
        padding-bottom: 0;
    }

    .portfolio-text {
        margin-right: 0;
    }

    .product-filter {
        padding-left: 0;
    }

    .product-screen {
        padding-top: 50px;
        margin-bottom: 50px;
    }

    .product-text {
        padding-left: 0;
        margin-bottom: 30px;
    }

    .product-filter > a {
        display:block;
        right: 0
    }

    .product-items {
        justify-content: space-around;
    }

    .product-item {
        width: 45vw;
        height: 43vw;
        margin-bottom: 2vw;
    }

    .about-wrap {
        position: relative;
        min-height: 455px;
    }

    .about-img {
        align-self: start;
    }

    .worker {
        position: absolute;
        width: 94vw;
        left: 0;
        right: 0;
        bottom: 0;
        justify-content: space-between;
    }

    .worker > div {
        width: 23%;
        height: auto;
    }

    .recommend-screen {
        min-height: 630px;
        margin-bottom: 50px;
    }

    .recommend-form > input {
        margin-bottom: 50px;
        width: 80%;
    }

    .recommend-form > button {
        margin-left: 0;
    }

    .contact-screen > p {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .contact-wrap {
        margin-bottom: 40px;
    }
}

@media screen and (max-width:605px) {
    .header {
        flex-wrap: wrap;
    }

    .home-screen {
        padding-top: 70px;
    }

    .home-text {
        width: 95%;
    }

    .home-text h1 {
        font-size: 11vw;
        line-height: normal;
    }

    .home-text h1 > span {
        letter-spacing: normal;
    }

    .home-text p {
        width: 90%;
    }

    .portfolio-wrap {
        justify-content: center;
    }

    .portfolio-items {
        width: 80vw;
    }

    .about-text {
        width: 95%;
    }

    .about-text > p {
        width: 100%;
    }

    .footer-wrap {
        display: block;
        text-align: center;
    }

    .footer-wrap > div {
        margin-bottom: 10px;
    }
}